<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AcceptedOrderList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AcceptedOrderList 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptedOrderList</servlet-name>
    <url-pattern>/AcceptedOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcceptingOrder</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AcceptingOrder 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptingOrder</servlet-name>
    <url-pattern>/AcceptingOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDeskTop</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddDeskTop 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeskTop</servlet-name>
    <url-pattern>/AddDeskTop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDishItem</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddDishItem 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDishItem</servlet-name>
    <url-pattern>/AddDishItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddEmployee 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMenu</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddMenu 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenu</servlet-name>
    <url-pattern>/AddMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeDeskTop</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ChangeDeskTop 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDeskTop</servlet-name>
    <url-pattern>/ChangeDeskTop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeDishItem</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ChangeDishItem 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDishItem</servlet-name>
    <url-pattern>/ChangeDishItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeEmployee</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ChangeEmployee 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmployee</servlet-name>
    <url-pattern>/ChangeEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ChangeGroup 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeGroup</servlet-name>
    <url-pattern>/ChangeGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeMenu</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ChangeMenu 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMenu</servlet-name>
    <url-pattern>/ChangeMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeResBackWord</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ChangeResBackWord 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeResBackWord</servlet-name>
    <url-pattern>/ChangeResBackWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAllMenu</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckAllMenu 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAllMenu</servlet-name>
    <url-pattern>/CheckAllMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckChainResList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckChainResList 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckChainResList</servlet-name>
    <url-pattern>/CheckChainResList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckDeskTop</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckDeskTop 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDeskTop</servlet-name>
    <url-pattern>/CheckDeskTop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOrderDetail</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckOrderDetail 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOrderDetail</servlet-name>
    <url-pattern>/CheckOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDeskTop</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DeleteDeskTop 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeskTop</servlet-name>
    <url-pattern>/DeleteDeskTop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDishItem</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DeleteDishItem 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDishItem</servlet-name>
    <url-pattern>/DeleteDishItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DeleteEmployee 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DeleteGroup 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroup</servlet-name>
    <url-pattern>/DeleteGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMenu</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DeleteMenu 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMenu</servlet-name>
    <url-pattern>/DeleteMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnterChainRestaurant</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.EnterChainRestaurant 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterChainRestaurant</servlet-name>
    <url-pattern>/EnterChainRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitResBack</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ExitResBack 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitResBack</servlet-name>
    <url-pattern>/ExitResBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportMenu</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ImportMenu 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportMenu</servlet-name>
    <url-pattern>/ImportMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvoicingOrder</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.InvoicingOrder 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoicingOrder</servlet-name>
    <url-pattern>/InvoicingOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvoicingOrderList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.InvoicingOrderList 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoicingOrderList</servlet-name>
    <url-pattern>/InvoicingOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginRes</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.LoginRes 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRes</servlet-name>
    <url-pattern>/LoginRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenDeskTop</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.OpenDeskTop 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenDeskTop</servlet-name>
    <url-pattern>/OpenDeskTop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintOrder</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.PrintOrder 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintOrder</servlet-name>
    <url-pattern>/PrintOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReduceDish</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ReduceDish 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReduceDish</servlet-name>
    <url-pattern>/ReduceDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveOrderDishDetail</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.SaveOrderDishDetail 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveOrderDishDetail</servlet-name>
    <url-pattern>/SaveOrderDishDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchDishItem</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.SearchDishItem 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDishItem</servlet-name>
    <url-pattern>/SearchDishItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetAuthority</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.SetAuthority 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAuthority</servlet-name>
    <url-pattern>/SetAuthority</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetEmployeeGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.SetEmployeeGroup 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetEmployeeGroup</servlet-name>
    <url-pattern>/SetEmployeeGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetOrderPrint</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.SetOrderPrint 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetOrderPrint</servlet-name>
    <url-pattern>/SetOrderPrint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetReceiptPrint</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.SetReceiptPrint 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetReceiptPrint</servlet-name>
    <url-pattern>/SetReceiptPrint</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetRestaurant</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.SetRestaurant 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetRestaurant</servlet-name>
    <url-pattern>/SetRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDishItemList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ShowDishItemList 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDishItemList</servlet-name>
    <url-pattern>/ShowDishItemList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowOrderDishList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ShowOrderDishList 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderDishList</servlet-name>
    <url-pattern>/ShowOrderDishList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToAcceptOrderList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ToAcceptOrderList 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToAcceptOrderList</servlet-name>
    <url-pattern>/ToAcceptOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UndoneOrder</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.UndoneOrder 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UndoneOrder</servlet-name>
    <url-pattern>/UndoneOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UndoneOrderList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.UndoneOrderList 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UndoneOrderList</servlet-name>
    <url-pattern>/UndoneOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddResUserServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.AddResUserServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResUserServlet</servlet-name>
    <url-pattern>/AddResUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.AddUserServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeResUserServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.ChangeResUserServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeResUserServlet</servlet-name>
    <url-pattern>/ChangeResUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeResWordServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.ChangeResWordServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeResWordServlet</servlet-name>
    <url-pattern>/ChangeResWordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeUserServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.ChangeUserServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserServlet</servlet-name>
    <url-pattern>/ChangeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeUserWordServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.ChangeUserWordServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserWordServlet</servlet-name>
    <url-pattern>/ChangeUserWordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckResDetailServlet1</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.CheckResDetailServlet1 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckResDetailServlet1</servlet-name>
    <url-pattern>/CheckResDetailServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckResListServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.CheckResListServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckResListServlet</servlet-name>
    <url-pattern>/CheckResListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.DeleteUserServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.EmployeeLoginServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnterResBackServlet1</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.EnterResBackServlet1 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterResBackServlet1</servlet-name>
    <url-pattern>/EnterResBackServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitSystemServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.ExitSystemServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitSystemServlet</servlet-name>
    <url-pattern>/ExitSystemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestaurantLoginServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.RestaurantLoginServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantLoginServlet</servlet-name>
    <url-pattern>/RestaurantLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchResUserServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.SearchResUserServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResUserServlet</servlet-name>
    <url-pattern>/SearchResUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SystemLoginServlet</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.SystemLoginServlet 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemLoginServlet</servlet-name>
    <url-pattern>/SystemLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRestaurant</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddRestaurant 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRestaurant</servlet-name>
    <url-pattern>/AddRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddChainRes</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddChainRes 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChainRes</servlet-name>
    <url-pattern>/AddChainRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ShowGroup 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGroup</servlet-name>
    <url-pattern>/ShowGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDishDetail</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.android.ShowDishDetail 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDishDetail</servlet-name>
    <url-pattern>/ShowDishDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUersList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.CheckUersList 
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUersList</servlet-name>
    <url-pattern>/CheckUersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckResList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.CheckResList
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckResList</servlet-name>
    <url-pattern>/CheckResList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddGroup
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/AddGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckEmployeeList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckEmployeeList
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmployeeList</servlet-name>
    <url-pattern>/CheckEmployeeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllMenu</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ShowAllMenu
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllMenu</servlet-name>
    <url-pattern>/ShowAllMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckGroup
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckGroup</servlet-name>
    <url-pattern>/CheckGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteResAccount</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.DeleteResAccount
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResAccount</servlet-name>
    <url-pattern>/DeleteResAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchResUserDetail</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.SearchResUserDetail
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResUserDetail</servlet-name>
    <url-pattern>/SearchResUserDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDeskGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddDeskGroup
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeskGroup</servlet-name>
    <url-pattern>/AddDeskGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckDeskGroupList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckDeskGroupList
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDeskGroupList</servlet-name>
    <url-pattern>/CheckDeskGroupList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeDeskGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ChangeDeskGroup
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDeskGroup</servlet-name>
    <url-pattern>/ChangeDeskGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddChain</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.AddChain
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChain</servlet-name>
    <url-pattern>/AddChain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectRestToChain</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.ConnectRestToChain
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectRestToChain</servlet-name>
    <url-pattern>/ConnectRestToChain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.ResList
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResList</servlet-name>
    <url-pattern>/ResList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connecting</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.Connecting
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connecting</servlet-name>
    <url-pattern>/Connecting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChainManager</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ChainManager
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChainManager</servlet-name>
    <url-pattern>/ChainManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportMenu2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ImportMenu2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportMenu2</servlet-name>
    <url-pattern>/ImportMenu2</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>CancelingOrder</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CancelingOrder
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelingOrder</servlet-name>
    <url-pattern>/CancelingOrder</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>UnCancelingOrder</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.UnCancelingOrder
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnCancelingOrder</servlet-name>
    <url-pattern>/UnCancelingOrder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DianCai0</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DianCai0
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DianCai0</servlet-name>
    <url-pattern>/DianCai0</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DianCai</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DianCai
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DianCai</servlet-name>
    <url-pattern>/DianCai</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DianCai2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DianCai2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DianCai2</servlet-name>
    <url-pattern>/DianCai2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowOrderInfo</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ShowOrderInfo
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderInfo</servlet-name>
    <url-pattern>/ShowOrderInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOrderInfo</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DeleteOrderInfo
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderInfo</servlet-name>
    <url-pattern>/DeleteOrderInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckEmployeeList2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckEmployeeList2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmployeeList2</servlet-name>
    <url-pattern>/CheckEmployeeList2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckDeskTop2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CheckDeskTop2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDeskTop2</servlet-name>
    <url-pattern>/CheckDeskTop2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowDishItemList2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ShowDishItemList2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDishItemList2</servlet-name>
    <url-pattern>/ShowDishItemList2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmployee2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddEmployee2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee2</servlet-name>
    <url-pattern>/AddEmployee2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDesktop2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddDesktop2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDesktop2</servlet-name>
    <url-pattern>/AddDesktop2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDishItem2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.AddDishItem2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDishItem2</servlet-name>
    <url-pattern>/AddDishItem2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayingOrder</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.PayingOrder
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayingOrder</servlet-name>
    <url-pattern>/PayingOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaidOrderList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.PaidOrderList
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaidOrderList</servlet-name>
    <url-pattern>/PaidOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CanceledOrderList</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CanceledOrderList
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanceledOrderList</servlet-name>
    <url-pattern>/CanceledOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_EmployeeGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.Add_EmployeeGroup
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_EmployeeGroup</servlet-name>
    <url-pattern>/Add_EmployeeGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_DesktopGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.Add_DesktopGroup
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_DesktopGroup</servlet-name>
    <url-pattern>/Add_DesktopGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_Menu</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.Add_Menu
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Menu</servlet-name>
    <url-pattern>/Add_Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestaurantSet_Info</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.RestaurantSet_Info
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantSet_Info</servlet-name>
    <url-pattern>/RestaurantSet_Info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_User</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.Add_User
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_User</servlet-name>
    <url-pattern>/Add_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_RestUsername</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.Add_RestUsername
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_RestUsername</servlet-name>
    <url-pattern>/Add_RestUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Chain_Manager</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.Chain_Manager
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chain_Manager</servlet-name>
    <url-pattern>/Chain_Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User_index</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.User_index
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_index</servlet-name>
    <url-pattern>/User_index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Change_User</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.Change_User
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change_User</servlet-name>
    <url-pattern>/Change_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentEmployee</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CommentEmployee
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentEmployee</servlet-name>
    <url-pattern>/CommentEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Chain_Add</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.Chain_Add
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chain_Add</servlet-name>
    <url-pattern>/Chain_Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataSourceBean</servlet-name>
    <servlet-class>
	    cn.mos1.bean.DataSourceBean
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSourceBean</servlet-name>
    <url-pattern>/DataSourceBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentEmployee2</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.CommentEmployee2
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentEmployee2</servlet-name>
    <url-pattern>/CommentEmployee2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowComment</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ShowComment
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowComment</servlet-name>
    <url-pattern>/ShowComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Chart</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.Chart
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chart</servlet-name>
    <url-pattern>/Chart</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.system.Reservation
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowReservation</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ShowReservation
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReservation</servlet-name>
    <url-pattern>/ShowReservation</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ReservationOver</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.ReservationOver
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationOver</servlet-name>
    <url-pattern>/ReservationOver</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteDeskGroup</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.DeleteDeskGroup
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeskGroup</servlet-name>
    <url-pattern>/DeleteDeskGroup</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>
	    cn.mos1.servlet.menu.Index
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>cn.mos1.filter.MyFilter</filter-class>
    <init-param>
      <param-name>charSet</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>
	    CheckCode.CheckCode
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/CheckCode</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>YANZHENG</servlet-name>
    <servlet-class>
	    CheckCode.YANZHENG
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YANZHENG</servlet-name>
    <url-pattern>/YANZHENG</url-pattern>
  </servlet-mapping>
  


    <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>
	    upload.FileUploadServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>